.sign-in {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0 10px;
    box-sizing: border-box;
}

.sign-in-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 700px;
    height: 500px;
    padding: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--color-primary);
    border-radius: 30px;
    position: relative;
}

.container-text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.text-item-left, .text-item-right {
    flex: 1;
    text-align: center;
}

.text-item-right {
    text-decoration: underline;
}

.sign-in-form {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 25px;
    margin-bottom: 5px;
    gap: 50px;
    align-items: center;
}

.input-container {
    position: relative;
    width: 100%;
    max-width: 480px;
}

.input-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    pointer-events: none;
}

.sign-in-form input {
    padding: 10px 10px 10px 40px;
    border-radius: 15px;
    font-size: 1rem;
    border: 1px solid #ccc;
    outline: none;
    width: 100%;
    max-width: 480px;
}

.sign-in-form button {
    width: 100%;
    max-width: 180px;
    height: 50px;
    font-size: 20px;
    align-self: center;
    background-color: var(--color-secondary);
    color: var(--color-white);
    border-radius: 30px;
    margin-top: 20px;
    border: none;
}

.sign-up-text {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.text-left {
    padding-right: 10px;
}

.sign-up-link {
    text-decoration: underline;
}

.home-button-container {
    text-align: end;
    margin-top: 20px;
}

.home-button {
    padding: 10px 20px;
    font-size: 1rem;
    color: var(--color-white);
    border: none;
    text-decoration: none;
    cursor: pointer;
    gap: 8px;
}

/* Responsiveness */
@media (max-width: 768px) {
    .sign-in-container {
        padding: 30px;
    }

    .sign-in-form {
        gap: 15px;
    }

    .input-container {
        max-width: 100%;
    }

    .sign-in-form input {
        font-size: 14px;
        max-width: 100%;
    }

    .sign-in-form button {
        font-size: 18px;
        max-width: 150px;
    }

    .home-button {
        font-size: 14px;
        padding: 8px 16px;
    }
}

@media (max-width: 480px) {
    .sign-in-container {
        padding: 20px;
    }

    .sign-in-form {
        gap: 10px;
    }

    .sign-in-form input {
        font-size: 12px;
    }

    .sign-in-form button {
        font-size: 16px;
        max-width: 120px;
    }

    .home-button {
        font-size: 12px;
        padding: 6px 12px;
    }
}

