.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  padding: 20px;
}

/* Responsiveness */

@media (max-width: 768px) {
  main {
    padding: 10px;
  }
}

@media (max-width: 480px) {
  main {
    padding: 5px;
  }
}

